* {
	padding: 0;
	margin: 0;
}
body {
	overflow: hidden;
}
.container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	overflow: hidden;
}
.container .preload {
	display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #3399cc;
    color: #fff;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: center;
}
.container .preload i {
	display: inline-block;
	font-size: 58px;
	line-height: 100vh;
}
div#map {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
}

#map_canvas {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
div#crosshair {
	position: absolute;
	top: 46%;
	height: 27px;
	width: 23px;
	left: 50%;
	margin-left: -8px;
	display: block;
	/*background: url(/cdn/img/geomarker.png);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-transition: all 0.4s ease-in-out; /* Safari */
    transition: all 0.4s ease-in-out;
	opacity: 0.8;
	color: #31708f;
    font-size: 23px;
}
div#crosshair:before {
    content: "\f041";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
div#crosshair.loading:before {
	content: "\f110";
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}
div#crosshair.drag {
	top: 44%;
	opacity: 0.4;
	font-size: 27px;
}
.finder {
	position: absolute;
	width: 80%;
	height: 50px;
	top: 5px;
	z-index: 1;
	margin-left: 5px;
}
.finder input#address {
	height: 60px;
    padding: 0 10px;
    width: 80%;
    font-size: 13px;
    font-weight: 600;
    color: #b3b3b3;
    border-radius: 4px;
    border: 2px solid #3399cc;
}
.finder input[type="button"] {

	height: 40px;
	padding: 0 5px;
	font-size: 16px;
	font-weight: 600;
	color: #878787;
	border-radius: 4px;
	margin-left: 10px;
	border: 1px solid #878787;

}
.gm-style-cc { display:none; }
.gm-style :nth-child(2) {
	display:none;
}
.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}
button#saveLocation {
    color: #fff;
    background: #3399cc;
    width: 15%;
    border: 2px solid #3399cc;
    height: 60px;
    border-radius: 4px;
    cursor: pointer;
}
button#saveLocation:disabled {
	background: #878787;
	cursor: wait;
}
