Options +FollowSymLinks -indexes
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_USER_AGENT} libwww-perl.*
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteRule . index.php

RewriteRule ^(es|en|ca)$ index.php?lang=$1 [QSA,L]
RewriteRule ^(es|en|ca)/([^/]*)$ index.php?lang=$1&controller=$2 [QSA,L]
RewriteRule ^(es|en|ca)/([^/]*)/([^/]*)$ index.php?lang=$1&controller=$2&section=$3 [QSA,L]
RewriteRule ^ajax/([^/]*)/([^/]*)$ index.php?controller=ajax&section=$1&action=$2 [QSA,L]
RewriteRule ^([^/]*)/([^/]*)$ index.php?controller=page&section=$1&action=$2 [QSA,L]

<FilesMatch ".(jpg|png|gif)$">
	ErrorDocument 404 "/cdn/img/404.png"
</FilesMatch>
